.titulo {
  color: black;
}

.subtitulo {
  color: grey;
}

.boton-color, .boton-marron {
  background-color: rgb(231, 150, 0);
  border: 0;
}
.boton-color:hover, .boton-marron:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.514);
  border: 0;
  background-color: rgb(187, 121, 0);
}

.boton-marron {
  background-color: rgb(92, 10, 10);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.boton-marron:hover {
  background-color: rgb(56, 7, 7);
}

.tarjeta-1 {
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px rgb(219, 219, 219);
  border-radius: 10px;
  text-align: center;
  margin-left: 45px;
  margin-right: 45px;
  padding: 10px;
  width: 350px;
  height: auto;
  display: inline-block;
  justify-content: space-between;
}
.tarjeta-1:hover {
  box-shadow: 9px 9px 7px rgb(219, 219, 219);
  background-color: rgb(228, 228, 228);
  color: rgb(231, 150, 0);
}

.titulo-2 {
  font-size: 24px;
  color: rgb(231, 150, 0);
  margin-top: 10px;
}

.texto-tarjeta {
  color: grey;
  font-size: 18px;
  margin-top: 8px;
}

.tarjeta-2-imagen {
  margin-bottom: 16px;
}

.tarjeta-2 {
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 3px 3px rgb(219, 219, 219);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  width: 400px;
  text-align: center;
  height: auto;
  display: inline-block;
  font-size: 18px;
}
.tarjeta-2:hover {
  box-shadow: 9px 9px 7px rgb(219, 219, 219);
  background-color: rgb(228, 228, 228);
}

.tarjeta-valores {
  color: white;
  border: solid 2px black;
  padding: 10px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 16px;
  width: 300px;
  height: auto;
  display: inline-block;
}
.tarjeta-valores .texto-valores {
  color: rgb(231, 150, 0);
  margin-top: 16px;
}

.tarjeta-equipo {
  padding: 10px;
  margin-left: 45px;
  width: 400px;
  height: auto;
  display: inline-block;
  font-size: 18px;
}
.tarjeta-equipo:hover {
  transform: scale(1.1);
  margin-top: 25px;
  margin-bottom: 25px;
}

.imagen-persona {
  width: 300px;
}

.tarjeta-trabajos {
  border: solid 2px white;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 16px;
  margin-bottom: 40px;
  width: 350px;
  height: auto;
  display: inline-block;
  font-size: 18px;
}
.tarjeta-trabajos:hover {
  transform: scale(1.1);
  color: rgb(231, 150, 0);
}
.tarjeta-trabajos .imagen-trabajos {
  width: 350px;
  border-radius: 6px;
}
.tarjeta-trabajos .titulo-tarjeta {
  margin-top: 12px;
}
.tarjeta-trabajos:hover {
  color: rgb(231, 150, 0);
}
.tarjeta-trabajos .texto-tarjeta {
  color: grey;
}

.titulo {
  font-size: 36px;
}

.subtitulo {
  font-size: 28;
}

.titulo-card {
  font-size: 20px;
}

.parrafos {
  font-size: 16px;
}

.boton-linkedin {
  color: #0e76a8;
}

.boton-facebook {
  color: #3b5998;
}

.boton-twitter {
  color: #00acee;
}

.col-1 {
  width: 1% 1;
}

.col-2 {
  width: 1% 2;
}

.col-3 {
  width: 1% 3;
}

.titulo-header:hover {
  transform: scale(1.15);
}
.titulo-header .nav.link.active.texto-header:hover {
  color: rgb(231, 150, 0);
}

.seccion-1 {
  width: 100%;
  height: 700px;
  background-image: url(../img/construccion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
}
.seccion-1 .titulo-1 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-shadow: 20px;
  position: relative;
  top: 250px;
  text-shadow: 3px 3px 3px black;
}
.seccion-1 .texto-1 {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 16px;
  position: relative;
  top: 255px;
}

.seccion-2 {
  font-size: 36px;
  margin-top: 48px;
  margin-bottom: 24px;
  font-style: normal;
  text-align: center;
}

.seccion-3 {
  background-color: black;
  color: white;
  padding: 50px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.seccion-3 .sobre-nosotros {
  text-align: right;
  font-size: 36px;
  margin-right: 40px;
  margin-bottom: 16px;
}
.seccion-3 .texto-2 {
  font-size: 18px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.seccion-4 {
  font-size: 36px;
  margin-bottom: 32px;
  text-align: center;
}

.grilla-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  margin-left: 80px;
  margin-right: 80px;
}
@media screen and (max-width: 780px) {
  .grilla-1 .grilla-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-left: 16px;
    margin-right: 16px;
  }
}

.grilla-img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.grilla-img:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}

.seccion-5 {
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 36px;
  text-align: center;
}

.iconos {
  padding: 40px;
}

.seccion-sobre-nosotros {
  display: flex;
  justify-content: space-between;
}

.titulo-sobre-nosotros {
  font-size: 36px;
  text-align: left;
  margin-left: 80px;
  margin-top: 170px;
  width: 100%;
}

.texto-sobre-nosotros {
  font-size: 18px;
  margin-left: 80px;
  width: 75%;
  margin-top: 45px;
  color: grey;
}

.imagen-equipo {
  margin-top: 80px;
  width: 50%;
  background-position: right;
}
.imagen-equipo .seccion-sobre-nosotros {
  flex-direction: column;
}

.seccion-valores {
  background-color: black;
  padding: 10px;
}
.seccion-valores .titulo-valores {
  font-size: 36px;
  text-align: right;
  margin-right: 80px;
  margin-top: 48px;
  color: white;
}

.titulo-equipo {
  font-size: 36px;
  text-align: center;
  margin-top: 32px;
}

.titulo-trabajos {
  font-size: 36px;
  text-align: center;
  margin-top: 140px;
}

.texto-trabajos {
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
  color: grey;
}

.seccion-blog {
  margin-top: 140px;
}

.texto-noticia {
  color: grey;
}

.seccion-formulario {
  margin-top: 100px;
}

.texto-contacto {
  font-size: 24px;
  text-align: center;
  margin-top: 8px;
  color: grey;
}

/*# sourceMappingURL=style.css.map */
