.tarjeta-1{
    background-color:$color-background;
    box-shadow: 3px 3px 3px rgb(219, 219, 219);
    border-radius: 10px;
    text-align: center;
    margin-left: 45px;
    margin-right: 45px;
    padding: 10px;
    width: 350px;
    height: auto;
    display: inline-block;
    justify-content: space-between;

    &:hover{
        box-shadow: 9px 9px 7px rgb(219, 219, 219);
        background-color: $color-background-hover;
        color: $color-principal;
    }
  
}

.titulo-2{
        font-size: 24px;
        color: $color-principal;
        margin-top: 10px;
    }

    .texto-tarjeta{
        color: $color-secundario;
        font-size: 18px;
        margin-top: 8px;
    }


.tarjeta-2-imagen{
    margin-bottom: 16px;
}

.tarjeta-2{
            background-color: $color-background;
            box-shadow: 3px 3px 3px rgb(219, 219, 219);
            border-radius: 10px;
            padding: 25px;
            margin: 15px;
            width: 400px;
            text-align: center;
            height: auto;
            display: inline-block;
            font-size: 18px;

    &:hover{
        box-shadow: 9px 9px 7px rgb(219, 219, 219);
        background-color: $color-background-hover;

    }

}


.tarjeta-valores{
    color: white;
    border: solid 2px black;
    padding: 10px ; 
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 16px;
    width: 300px;
    height: auto;
    display: inline-block;

    .texto-valores{
        color: $color-principal;
        margin-top: 16px;
    }
   
}

.tarjeta-equipo{
    padding: 10px;
    margin-left: 45px;
    width: 400px;
    height: auto;
    display: inline-block;
    font-size: 18px;

    &:hover{
        transform: scale(1.1);
        margin-top: 25px;
        margin-bottom: 25px;
    }

    
}
.imagen-persona{
        width: 300px;
    }

.tarjeta-trabajos{
    border: solid 2px white;
    padding: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 16px;
    margin-bottom: 40px;
    width: 350px;
    height: auto;
    display: inline-block;
    font-size: 18px;

    &:hover{
        transform: scale(1.1);
        color: $color-principal;
    }

    .imagen-trabajos{
        width: 350px;
        border-radius: 6px;
    }

    .titulo-tarjeta{
        margin-top: 12px;
    }

    &:hover{
        color:$color-principal
    }

    .texto-tarjeta{
        color: $color-secundario;
    }
}
    